{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="{% static 'store/img/gblogo1.png' %}" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    
    <!-- JavaScript Popper -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <!-- Bootstrap Max CDN -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'store/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% if title %}
    <title>GB Store - {{ title }}</title>
    {% else %}
    <title>GB Store</title>
    {% endif %}
  </head>

  <body>
    <header>
      <div class="first-header">
       <!-- logo to show smaller screen -->
        <div class="logo-to-show">
          <a href="  {% url 'index' %}"> 
            <img src="{% static 'store/img/gblogo1.png' %}" alt="Slide 1" />




          </a>
        </div>
        <div class="accounts">
          {% if user.is_authenticated %}
          <div class="login logout">
            <a href="{% url 'user-logout' %}">Logout</a>
          </div>
          {% else %}
          <div class="login">
            <a href="{% url 'my-login' %}">Login</a>
          </div>
          <div class="sign-up">
            <a href="{% url 'register' %}">Sign Up</a>
          </div>
          {% endif %}
        </div>
        <div class="first-col">
          <div class="contact-number">
            <a href="https://wa.link/fvzhs7"> <i class="fa-solid fa-phone"></i> +233 55 815 6844 </a>
            <a href="https://wa.link/v277iy"><i class="fa-solid fa-phone"></i>  +233 55 391 2334</a>
          </div>

          <div class="shopping-cart">
            <!-- this cart shows on big screen-->

            <a href="{% url 'cart' %}">
              <span> Shopping Cart</span>
              <i class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
              <div id="cart-qty" class="d-inline-flex">
                {% with qty_amount=cart|length %}
                  {% if qty_amount > 0 %}
                    {{qty_amount}}
                  {% else %}
                    0
                  {% endif %}
                {% endwith %}
              </div>
              <br />

             
            </a>
          </div>
          {% if request.user.is_authenticated %}
          {% if request.user.first_name %}
          <p class="welcome"> {{ request.user.first_name|slice:":1" }}</p>
          {% else %}
          <p class="welcome"> {{ request.user.username|slice:":1" }}</p>
          {% endif %}
          {% else %}
        
          {% endif %}
          <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
      </div>

      <div class="second-header">
        <div class="logo">
          <a href="  {% url 'index' %}"> 

            <img src="{% static 'store/img/gblogo1.png' %}" alt="Slide 1" />

          </a>
          
        </div>
   
     <div class="search-cat">
      <button class="cat-btn btns"><i class="fa-solid fa-caret-down"></i></button>
      <form class="search-bar" action="{% url 'search' %}" role="search">
        <input type="text" name="search" id="" placeholder="What are you looking for ?"/>
        <button type="submit">   <i class="fa fa-search" aria-hidden="true"></i>
        </button>
  </form>


     </div>  
       
      </div>

      <div class="third-header">
        <div class="nav-links">
          <div class="user-container">
            <!-- <div class="user">
              <i class="fa-solid fa-user"></i>
            </div> -->
            <div class="login-signup">
              {% if user.is_authenticated %}
              <a href="{% url 'user-logout' %}">Logout</a>
              <span>||</span>
              <a href="  {% url 'dashboard' %}">My Account</a>
              {% else %}
              <a href="{% url 'my-login' %}">Login</a>
              <span>||</span>
              <a href="  {% url 'register' %}">Sign Up</a>
              {% endif %}
            </div>
          
          </div>

          <div class="close-third-header">
          <p>  <i class="fa-solid fa-xmark"></i> </p>
            <p>Close</p>
          </div>
          <li>
            <a href="  {% url 'index' %}" href=""><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li>
            <a href="  {% url 'shop' %}"><i class="fa-solid fa-shop"></i> Shop</a>
          
          </li>
          <li>
            <a href="  {% url 'myOrder' %}"><i class="fa-solid fa-handshake"></i> My orders</a>
          </li>
          <li>
            <a href="  {% url 'WishList' %}"><i class="fa-regular fa-heart"></i> Wish List</a>
          </li>
          <!-- <li>
            <a href="  {% url 'terms' %}"><i class="fa-regular fa-heart"></i> Terms and Condition</a>
          </li>
          <li>
            <a href="  {% url 'faQ' %}"><i class="fa-regular fa-heart"></i> FAQ</a>
          </li>
          <li>
            <a href="  {% url 'contactUs' %}"><i class="fa-regular fa-heart"></i> Contact us</a>
          </li> -->
        
        </div>
      </div>
    </header>

    <div class="basecategories-banner-promo-container">
      <div class="category base-cat">
        <div class="cat-head">
         <p><i class="fa-solid fa-bars"></i> CATEGORIES</p>
       <div class="remove-cats btns">
         <i class="fa-solid fa-xmark"></i>
       </div>
        </div>
     
         <!-- category links -->
         <div class="cat-links">
           {% for category in all_categories %}
           <li>
             <a href="{% url 'list-category' category.slug %}">
               <i class="fa-solid fa-circle"></i> {{category.name}} </a>
             <i class="fa-solid fa-greater-than"></i>
           </li>
           {% endfor %}
           <!-- <li>
             <a href="">
               <i class="fa-brands fa-apple"></i> Apple Systems</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href="">
               <i class="fa-solid fa-laptop"></i> Laptop & Tablets</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href="">
               <i class="fa-solid fa-gamepad"></i> Gaming Laptops</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href="">
               <i class="fa-solid fa-computer"></i> Components Part</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href="">
               <i class="fa-solid fa-plane"></i> Drones& wearables</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href="">
               <i class="fa-solid fa-wand-magic-sparkles"></i> Access Time &
               Control</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href=""
               ><i class="fa-solid fa-wand-magic-sparkles"></i> Surveillance
               Systems</a
             >
     
             <i class="fa-solid fa-greater-than"></i>
           </li>
           <li>
             <a href="">
               <i class="fa-solid fa-computer"></i> Computer Accessories</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li>
     
           <li>
             <a href="">
               <i class="fa-solid fa-bars"></i> Others</a
             >
             <i class="fa-solid fa-greater-than"></i>
           </li> -->
         </div>
       </div>
    </div>
   
    {% block content %}{% endblock %}


    <!-- footer -->
     <footer>
      <div class="footer">
        <div class="footer-col">
          <div class="head">
            <h5>
              GBStoreGH
            </h5>
            <li><a href="">About us</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'user-logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'my-login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'contactUs' %}">Help & Support</a></li>
          </div>
        </div>
        <div class="footer-col">
          <div class="head">
            <h5>
             Other Links
            </h5>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li><a href="{% url 'checkout' %}">Checkout</a></li>
            <li><a href="{% url 'faQ' %}">FAQs</a></li>
            <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
          </div>
        </div>
        <div class="footer-col">
          <div class="head">
            <h5>
              My accounts
            </h5>
            <li><a href="{% url 'myOrder' %}">My orders</a></li>
            <li><a href="{% url 'dashboard' %}">My account</a></li>
            <li><a href="{% url 'manage-shipping' %}">Manage Shipping</a></li>
            <li><a href="{% url 'WishList' %}">Wishlist</a></li>
            <li><a href="{% url 'cart' %}">Shopping cart</a></li>
          </div>
        </div>
        <div class="footer-col">
          <div class="head">
            <h5>
            Newsletter
            </h5>
          </div>
          <p> Get all the best deals, sales and offers from <br> the best online shopping store in Ghana. </p>
          <!-- form -->
           <form method="POST" class="news-letter">
            {% csrf_token %}
            <input type="email" name="email" placeholder="subscribe">
            <button>subscribe</button>
           </form>
        </div>
        <div class="footer-col">
          <div class="head">
            <h5>
             Follow Us
            </h5>
            <li><a href=""><i class="fa-brands fa-facebook"></i> Facebook </a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram </a></li>
            <li><a href=""><i class="fa-brands fa-tiktok"></i> Tiktok </a></li>
            <li><a href=""><i class="fa-brands fa-x"></i> (Twitter) X </a></li>
          </div>
        </div>




      </div>

      <div class="copy-right">
        <p>Copyright © gbstoregh.com 2024 • All Rights Reserved • </p>

        <a href="{% url 'terms' %}">
          <p>Privacy policy • Terms & Conditions </p>


        </a>
      </div>

     </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
    <script>

      const menuicon = document.querySelector(".menu-icon")
      const closethirdheader = document.querySelector('.close-third-header')
      
      const thirdheader = document.querySelector(".third-header")
      menuicon.addEventListener("click", ()=>{
        thirdheader.classList.toggle('show')
      })

     
      closethirdheader.addEventListener("click", ()=>{
        thirdheader.classList.toggle('show')
      })




      document.addEventListener('DOMContentLoaded', function(){
        const header = document.querySelector(".second-header")
        const sticky = header.offsetTop;
    
    
    window.addEventListener('scroll', ()=>{
      if(window.pageYOffset > sticky){
        header.classList.add('fixed-header')
      } else {
        header.classList.remove('fixed-header')
      }
    })
    
    
      })


      const catbtn = document.querySelectorAll(".btns")
      const category = document.querySelector(".category")
      const faxmark = document.querySelector(".fa-xmark")

     
    catbtn.forEach((btn)=>{

      btn.addEventListener("click", ()=>{
        category.classList.toggle("showCat")
      })
    })

    function handleAnimationScroll() {
        // This block of code handles the reveal animation for elements on scroll
        window.addEventListener("scroll", () => {
          const targetElements = document.querySelectorAll(".element");

          targetElements.forEach((element) => {
            const position = element.getBoundingClientRect();
            const threshold = window.innerHeight * 0.9;

            // If the element's position is within the threshold, reveal it and trigger animation
            if (position.top <= threshold) {
              element.classList.add("slides");
            }
          });
        });
      }
      handleAnimationScroll();
    </script>

    <script>
      var message_timeout = document.getElementById("message-timer");

        setTimeout(function () {

          message_timeout.style.display = "none";

        }, 3000);
      

    </script>



<script>

//  document.addEventListener('DOMContentLoaded', function() {
//   const sliders = document.querySelectorAll('.slider-container');

//   sliders.forEach(slider => {
//     const slides = slider.querySelectorAll('.slider-slide');
//     const sliderWrapper = slider.querySelector('.slider-wrapper');
//     const nextButton = slider.querySelector('.next');
//     const prevButton = slider.querySelector('.prev');
//     let currentIndex = 0;

//     // Clone slides for seamless looping
//     const cloneSlides = Array.from(slides).map(slide => slide.cloneNode(true));
//     sliderWrapper.append(...cloneSlides);

//     const totalSlides = slides.length;
//     const allSlides = sliderWrapper.querySelectorAll('.slider-slide');
//     const totalClonedSlides = cloneSlides.length;
//     const slideCount = totalSlides + totalClonedSlides;

//     function getSlideWidth() {
//       return allSlides[0].offsetWidth;
//     }

//     function getVisibleSlidesCount() {
//       const containerWidth = sliderWrapper.offsetWidth;
//       return Math.floor(containerWidth / getSlideWidth());
//     }

//     function showSlide(index) {
//       const offset = -index * getSlideWidth();
//       sliderWrapper.style.transition = 'transform 0.5s ease';
//       sliderWrapper.style.transform = `translateX(${offset}px)`;
//     }

//     function updateButtons() {
//       // No need to disable buttons in a continuous loop
//     }

//     function handleNext() {
//       if (currentIndex >= totalSlides - 1) {
//         currentIndex = 0; // Jump to the start
//         sliderWrapper.style.transition = 'none'; // Disable transition for instant loop effect
//         showSlide(currentIndex); // Instant jump to start
//         setTimeout(() => {
//           sliderWrapper.style.transition = 'transform 0.5s ease'; // Re-enable transition
//           showSlide(currentIndex); // Smooth transition to the next slides
//         }, 20); // Short delay to apply transition
//       } else {
//         currentIndex++;
//         showSlide(currentIndex);
//       }
//       updateButtons();
//     }

//     function handlePrev() {
//       if (currentIndex <= 0) {
//         currentIndex = totalSlides - 1; // Jump to the end
//         sliderWrapper.style.transition = 'none'; // Disable transition for instant loop effect
//         showSlide(currentIndex); // Instant jump to the end
//         setTimeout(() => {
//           sliderWrapper.style.transition = 'transform 0.5s ease'; // Re-enable transition
//           showSlide(currentIndex); // Smooth transition to the previous slides
//         }, 20); // Short delay to apply transition
//       } else {
//         currentIndex--;
//         showSlide(currentIndex);
//       }
//       updateButtons();
//     }

//     nextButton.addEventListener('click', handleNext);
//     prevButton.addEventListener('click', handlePrev);

//     // Initial display
//     showSlide(currentIndex);
//     updateButtons();

//     // Adjust on resize
//     window.addEventListener('resize', function() {
//       showSlide(currentIndex);
//     });
//   });
// });


document.addEventListener('DOMContentLoaded', function() {
  const sliders = document.querySelectorAll('.slider-container');

  sliders.forEach(slider => {
    const slides = slider.querySelectorAll('.slider-slide');
    const sliderWrapper = slider.querySelector('.slider-wrapper');
    const nextButton = slider.querySelector('.next');
    const prevButton = slider.querySelector('.prev');
    let currentIndex = 0;
    const totalSlides = slides.length;

    function getSlideWidth() {
      return slides[0].offsetWidth;
    }

    function getVisibleSlidesCount() {
      const containerWidth = sliderWrapper.offsetWidth;
      return Math.floor(containerWidth / getSlideWidth());
    }

    function showSlide(index) {
      const offset = -index * getSlideWidth();
      sliderWrapper.style.transition = 'transform 0.5s ease';
      sliderWrapper.style.transform = `translateX(${offset}px)`;
    }

    function updateButtons() {
      // No need to disable buttons in a continuous loop
    }

    function handleNext() {
      if (currentIndex >= totalSlides - getVisibleSlidesCount()) {
        // Slide back to the start after reaching the end
        sliderWrapper.style.transition = 'none'; // Disable transition for instant jump
        currentIndex = 0;
        showSlide(currentIndex);
        setTimeout(() => {
          sliderWrapper.style.transition = 'transform 0.5s ease'; // Re-enable transition
          showSlide(currentIndex); // Smooth transition to next slides
        }, 20); // Short delay to apply transition
      } else {
        currentIndex++;
        showSlide(currentIndex);
      }
      updateButtons();
    }

    function handlePrev() {
      if (currentIndex <= 0) {
        // Slide to the end after reaching the start
        sliderWrapper.style.transition = 'none'; // Disable transition for instant jump
        currentIndex = totalSlides - getVisibleSlidesCount();
        showSlide(currentIndex);
        setTimeout(() => {
          sliderWrapper.style.transition = 'transform 0.5s ease'; // Re-enable transition
          showSlide(currentIndex); // Smooth transition to previous slides
        }, 20); // Short delay to apply transition
      } else {
        currentIndex--;
        showSlide(currentIndex);
      }
      updateButtons();
    }

    nextButton.addEventListener('click', handleNext);
    prevButton.addEventListener('click', handlePrev);

    // Initial display
    showSlide(currentIndex);
    updateButtons();

    // Adjust on resize
    window.addEventListener('resize', function() {
      showSlide(currentIndex);
    });
  });
});


</script>



  </body>
</html><!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/66c247100cca4f8a7a7760af/1i5jeb6g7';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
