{% extends 'store/base.html' %} {% load static %} {% block content %}


<header class="page-header">
    <li> <a href="  {% url 'index' %}" href=""><i class="fa-solid fa-less-than"></i> Back</a></li>
    <li> <a href=><i class="fa-solid fa-shop"></i> Cart</a>
    </li>

</header>


<div class="cart-main-container">
   <div class="item-added-to-cart">
    <div class="cart-item-container">
        <div class="cart">
            <div class="cart-col img">
                <img src="{% static 'store/img/watch.jpg' %}" alt="Slide 2" />
            </div>
            <div class="cart-col">
                <p>32” 16:9 LED HD Television With USB/HDMI Inputs 32LB-9950 </p>

                <div class="delete">
                    <p><i class="fa-solid fa-trash"></i> Remove</p>
                </div>
            </div>
        </div>

        <div class="carts">
            <div class="cart-col price">
                <p class="itemPrice">100 Gh</p>
               
            </div>
            <div class="cart-col quantity-container">

                <button class="decrease">-</button>
                <div class="quatity">
                    <p class="itemQuantity">0</p>
                </div>
                <button class="increase">+</button>
            </div>
        </div>

    </div>
    



   </div>

    <div class="order-summary-container">
        <h3>Order Summary</h3>

        <div class="sub-total">
            <p>Sub Total</p>
            <p class="sub-total">200</p>
        </div>

        <div class="total">
            <p>Total</p>
            <p class="total">200</p>
        </div>


        <div class="check-out">
            <button>Check Out</button>
        </div>

    </div>
   
</div>



</div>



<script>
// const decrease = document.querySelectorAll(".decrease")
// const increase = document.querySelectorAll(".increase")
// const itemQuantity = document.querySelectorAll('.itemQuantity')

// increase.forEach((increaseBtn, index)=>{
//     increaseBtn.addEventListener('click',()=>{
//         const currentQuanity = parseInt(itemQuantity[index].textContent)
//         itemQuantity[index].textContent =currentQuanity+1

//     })
// })

// decrease.forEach((decreaseBtn, index)=>{
//     decreaseBtn.addEventListener('click',()=>{
//         const currentQuanity = parseInt(itemQuantity[index].textContent)
//         itemQuantity[index].textContent =currentQuanity - 1

//     })
// })

const decrease = document.querySelectorAll(".decrease");
const increase = document.querySelectorAll(".increase");
const itemQuantities = document.querySelectorAll('.itemQuantity');

function updateLocalstorage (index, quantity){
    localStorage.setItem (`itemQuantity-${index}`, quantity)
}

window.addEventListener("load", ()=>{
    itemQuantities.forEach((item, index)=>{
        const savedQuantity = localStorage.getItem(`itemQuantity-${index}`)
if(savedQuantity !== null){
    item.textContent = savedQuantity    
}
else{
    item.textContent= '0'
}
    })
 


})
increase.forEach((increaseBtn, index)=>{
    increaseBtn.addEventListener('click',()=>{
        const currentQuanity = parseInt(itemQuantities[index].textContent)
 
        const newQuantity = currentQuanity + 1
        itemQuantities[index].textContent = newQuantity

        updateLocalstorage(index, newQuantity)



    })
})
decrease.forEach((decreaseBtn, index) => {
    decreaseBtn.addEventListener('click', () => {
        const currentQuantity = parseInt(itemQuantities[index].textContent);
        if (currentQuantity > 0) {
            const newQuantity = currentQuantity - 1;
            itemQuantities[index].textContent = newQuantity;
            updateLocalstorage(index, newQuantity)
        }
    });
});
</script>















{% endblock %}