{% extends 'store/base.html' %} {% load static %} {% block content %}

<!-- products main container -->
<div class="product-main-container">


 
   
    <!-- container for set of product -->
     <div class="product-container">
       <div class="heading">
         <h2>Laptops & Tablets</h2>
        
       </div>
   
       <div class="product-dsiplay-grid">
         <!-- product container -->
         <div class="product">
           <a href="{% url 'productDetail' %}">
             <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
           </a>
   
             <div class="product-details">
             <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>
   
             <div class="price-wishlist-btn">
               <div class="price">
                 <p>2000 Gh</p>
               </div>
               <div class="add-to-wishlist">
                 <a href="">
                   <i class="fa-regular fa-heart"></i>
                 </a>
               </div>
             </div>
           </div>
           <!-- add to cart -->
           <div class="add-to-cart-button">
             <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
           </div>
         </div>
   
         <!-- product container -->
         <div class="product">
           <a href="{% url 'productDetail' %}">
             <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
           </a>
   
             <div class="product-details">
             <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>
   
             <div class="price-wishlist-btn">
               <div class="price">
                 <p>2000 Gh</p>
               </div>
               <div class="add-to-wishlist">
                 <a href="">
                   <i class="fa-regular fa-heart"></i>
                 </a>
               </div>
             </div>
           </div>
           <!-- add to cart -->
           <div class="add-to-cart-button">
             <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
           </div>
         </div>
   
         <!-- product container -->
         <div class="product">
           <a href="{% url 'productDetail' %}">
             <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
           </a>
   
             <div class="product-details">
             <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>
   
             <div class="price-wishlist-btn">
               <div class="price">
                 <p>2000 Gh</p>
               </div>
               <div class="add-to-wishlist">
                 <a href="">
                   <i class="fa-regular fa-heart"></i>
                 </a>
               </div>
             </div>
           </div>
           <!-- add to cart -->
           <div class="add-to-cart-button">
             <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
           </div>
         </div>
   
         <!-- product container -->
         <div class="product">
           <a href="{% url 'productDetail' %}">
             <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
           </a>
   
             <div class="product-details">
             <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>
   
             <div class="price-wishlist-btn">
               <div class="price">
                 <p>2000 Gh</p>
               </div>
               <div class="add-to-wishlist">
                 <a href="">
                   <i class="fa-regular fa-heart"></i>
                 </a>
               </div>
             </div>
           </div>
           <!-- add to cart -->
           <div class="add-to-cart-button">
             <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
           </div>
         </div>
       </div>
   
      
     </div>
   
   
  
   
   </div>

   {% endblock %}