{% extends 'store/base.html' %} {% load static %} {% block content %}



<div class="checkout-form-containers">
    <h3> Complete your order
    </h3>
    <p>Please enter in the relevant information below.

    </p>

    <div class="checkoutContainer">

        <form action="">
            <div class="input-container">
                <div class="input">
                    <label for="">Full Name</label> <br>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">Email</label> <br>
                    <input type="text">
                </div>

            </div>
            <div class="input">
                <label for="">Adress </label> <br>
                <input type="text" placeholder="1234 Main street">
            </div>
            
            <div class="input">
                <label for="">Phone</label> <br>
                <input type="text" placeholder="+233 558156844">
            </div>
            <div class="input">
               <label for="">Country</label> <br>
                <input type="text" placeholder="Ghana">
            </div>

            <div class="input-container">
                <div class="input">
                    <label for="">City</label> <br>
                    <input type="text" placeholder="Accra">
                </div>
                <div class="input">
                    <label for="">state (optional) </label> <br>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">Zip (optional)</label>
                    <input type="text">
                </div>

            </div>
        </form>

        <div class="total-fee">
            <p>Your cart</p>
        </div>
       


      
          
      
      
    </div>
</div>


</div>














{% endblock %}