{% extends 'store/base.html' %} {% load static %} {% block content %}


<style>

    .contact-us-container{
             
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url( "{% static 'store/img/background.jpg' %}" );
 
 min-height: 70vh;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
color: #fff;

    }



</style>
<header class="page-header">
    <li> <a href="  {% url 'contactUs' %}"><i class="fa-solid fa-shop"></i> Contact Us</a>
    </li>
  
  </header>
<div class="row">
    <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        <div id="message-timer" class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>
  <div class="contact-us-container">
    <div class="contact-us-form">
        <form method="POST">
            {% csrf_token %}
            <div class="input-container">
                <div class="input">
                    <label for="">Full Name</label> <br>
                    <input type="text" name="name" id="">
                </div>
                <div class="input">
                    <label for="">Email</label> <br>
                    <input type="email" name="email" id="">
                </div>
            </div>
            <div class="input-container">
                <div class="input">
                    <label for="">Phone Number</label> <br>
                    <input type="number" name="phone" id="">
                </div>
                <div class="input">
                    <label for="">Subject</label> <br>
                    <input type="text" name="subject" id="">
                </div>
            </div>
            <div class="input">
                <label for="">Message</label> <br>
                <textarea name="message" id=""></textarea>
            </div>
            <button type="submit">Submit</button>

        </form>
    </div>

    <div class="contact-us-number">

        <div class="cont">
            <p><i class="fa-brands fa-whatsapp"></i>  0558156944</p>
        </div>
        <div class="cont">
            <p><i class="fa-brands fa-whatsapp"></i> 0553912334</p>
        </div>
        <div class="cont">
            <p><i class="fa-solid fa-envelope"></i> gbstoregh@gmail.com</p>
        </div>
        <div class="cont">
            <p>             

                <i class="fa-brands fa-facebook"></i>

                <i class="fa-brands fa-instagram"></i>

                <i class="fa-brands fa-tiktok"></i>
                GB Store Gh.com


            </p>
        </div>

    </div>
  </div>


{% endblock %}