{% extends 'store/base.html' %} {% load static %} {% block content %}



<header class="page-header">
    <li> <a href="  {% url 'faQ' %}"><i class="fa-solid fa-question"></i> Freequently Asked Question</a>
    </li>
  
  </header>


  <div class="banner-container">
    <img src="{% static 'store/img/banner.jpg' %}" alt="Slide 2" />

</div>











<div class="faq-main">
    
  <div class="faq-container element">
    <div class="question">
        <span>What payment methods do you accept?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>We accept Paystack (Mobile Money and credit cards).</p>
    </div>
</div>
<div class="faq-container element">
    <div class="question">
        <span>What countries do you ship to?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>We only ship to Ghana for now since we are now trying to address others about our products and our
        platform.
        </p>
    </div>
</div>
<div class="faq-container element">
    <div class="question">
        <span>Do you accept paypal?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>No, we do not accept Paypal.
        </p>
    </div>
</div>

<div class="faq-container element">
    <div class="question">
        <span>Do you accept debit/credit cards?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>Yes, we accept debit/credit cards.
        </p>
    </div>
</div>

<div class="faq-container element">
    <div class="question">
        <span>Do you accept Mobile Money?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>Yes, we accept Mobile Money for all networks.
        </p>
    </div>
</div>

<div class="faq-container element">
    <div class="question">
        <span>How do I update/cancel my order?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>Please call us at +233 553912334 / +233 536626936 in Kumasi & Accra, or email us at gbstoregh@gmail.com. Have your order number
        ready. If the order has already been provided to our fulfillment center, we are unable to cancel the order.
        </p>
    </div>
</div>

<div class="faq-container element">
    <div class="question">
        <span>I have a rush order can it be delivered saturday?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>Shipping times are based on Monday - Friday deliveries.
        </p>
    </div>
</div>
<div class="faq-container element">
    <div class="question">
        <span>How long will it take to get my order?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>All orders have a 1-3 business day lead time upon receipt of order. Shipping method applies after order has moved from
        our fulfillment center, then shipped by the carrier.
        
        Orders placed during a holiday or promotion will have an approximate lead time of 3-4 business days upon receipt of
        order. Shipping method applies after order has moved from our fulfillment center then shipped by the carrier.
        </p>
    </div>
</div>
<div class="faq-container element">
    <div class="question">
        <span>Can I pick up my order instead of having it delivered?</span>
        <span class="show-answer">+</span>
    </div>
    <div class="answer">
        <p>We only offer shipping options at this time. We do not have a store front for pick up orders. If you need to pick up
        products, please any of our Pop-Ups.
        </p>
    </div>
</div>
</div>

 

  <script>
document.addEventListener('DOMContentLoaded', () => {
    const faqContainers = document.querySelectorAll('.faq-container');

    faqContainers.forEach(container => {
        const answer = container.querySelector('.answer');
        const showAnswerBtn = container.querySelector('.show-answer');

        // Set initial height of the answer
        answer.style.height = '0px';

        showAnswerBtn.addEventListener('click', () => {
            if (answer.style.height === '0px') {
                // Open the answer
                answer.style.height = answer.scrollHeight + 'px';
                showAnswerBtn.textContent = '-'; // Change button text
            } else {
                // Close the answer
                answer.style.height = '0px';
                showAnswerBtn.textContent = '+'; // Change button text back
            }
        });
    });
});


  </script>

{% endblock %}