{% extends 'store/base.html' %} {% load static %} {% block content %}

<div class="categories-banner-promo-container">
  <div class="category">
    <p><i class="fa-solid fa-bars"></i> CATEGORIES</p>

    <!-- category links -->
    <div class="cat-links">
      {% for category in all_categories %}
      <li>
        <a href="{% url 'list-category' category.slug %}">
          <i class="fa-solid fa-circle"></i> {{category.name}} </a>
        <i class="fa-solid fa-greater-than"></i>
      </li>
      {% endfor %}
      <!-- <li>
        <a href="">
          <i class="fa-brands fa-apple"></i> Apple Systems</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-laptop"></i> Laptop & Tablets</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-gamepad"></i> Gaming Laptops</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-computer"></i> Components Part</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-plane"></i> Drones& wearables</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-wand-magic-sparkles"></i> Access Time &
          Control</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href=""
          ><i class="fa-solid fa-wand-magic-sparkles"></i> Surveillance
          Systems</a
        >

        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-computer"></i> Computer Accessories</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li>

      <li>
        <a href="">
          <i class="fa-solid fa-bars"></i> Others</a
        >
        <i class="fa-solid fa-greater-than"></i>
      </li> -->
    </div>
  </div>


  <!-- slide show -->
  <div class="slide-show">
    <div class="slide">
      <img src="{% static 'store/img/5164881.jpg' %}" alt="Slide 2" />
    </div>
  </div>
</div>

<!-- products main container -->
<div class="product-main-container">



  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <!-- container set the product to diplay grid -->
    <div class="product-dsiplay-grid">


      {% for laptopshop in laptopshops %}
      <!-- product container -->
      <div class="product">

        <a href="{{ laptopshop.get_absolute_url }}">
          <img src="{{ laptopshop.image1.url }}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>{{ laptopshop.content }}</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>{{ laptopshop.final_price }}</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- add to cart -->
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>
      {% endfor %}

     
      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

     
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <div class="product-dsiplay-grid">
     
      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
     
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
       
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

     
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- deal -->
  <div class="deal-advert">
    <div class="deal">
      <img src="{% static 'store/img/banner.png' %}" alt="Slide 2" />
    </div>

  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <div class="product-dsiplay-grid">
      
      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <div class="product-dsiplay-grid">
      
      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
       
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- deal -->
  <div class="deal-advert">
    <div class="deal">
      <img src="{% static 'store/img/deal.jpg' %}" alt="Slide 2" />
    </div>
    <div class="deal">
      <img src="{% static 'store/img/deal2.jpg' %}" alt="Slide 2" />
    </div>
  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <div class="product-dsiplay-grid">
      
      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
       
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
       
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>
    <div class="product-dsiplay-grid">
      
      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

     
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
        
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

     
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
      
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

     
      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
       
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- deal -->
  <div class="deal-advert">
    <div class="deal">
      <img src="{% static 'store/img/deal.jpg' %}" alt="Slide 2" />
    </div>
    <div class="deal">
      <img src="{% static 'store/img/deal2.jpg' %}" alt="Slide 2" />
    </div>
  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <div class="product-dsiplay-grid">
    <!--  <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>


      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>


      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>


      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>

  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>Laptops & Tablets</h2>
      <div class="see-more">
        <a href="">See more</a>
      </div>
    </div>

    <div class="product-dsiplay-grid">

      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>


      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>


      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>
 
        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>


      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>
</div>

{% endblock %}