{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<!-- products main container -->
<div class="product-main-container">


  <!-- container for set of product -->
  <div class="product-container">
    <div class="heading">
      <h2>{{ category.name }}</h2>

    </div>

    <div class="product-dsiplay-grid">
      <!-- product container -->
      {% for product in products %}
      <div class="product">
        <a href="{{ product.get_absolute_url }}">
          <img src="{{ product.image1.url }}" alt="{{ product.title }}" />
      
          <h4 style="font-size: 25px;">{{ product.title }}</h4>
        </a>
        <div class="product-details">
          <div class="price-wishlist-btn">
            <div class="price">
              <p>Gh¢{{ product.final_price }}</p>
              <p class="canceled">GH¢{{ product.normal_price }}</p>
            </div>
            <div class="add-to-wishlist">
              <a href="{% url 'add-to-wishlist' product.slug %}">
                <button> <i class="fa-regular fa-heart"></i> </button>
              </a>
              <!-- <a href="">
                      <button> <i class="fa-solid fa-eye"></i> </button>
                    </a> -->
            </div>
          </div>
        </div>
      
      </div>
      {% endfor %}


      <!-- <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div>

      <div class="product">
        <a href="">
          <img src="{% static 'store/img/laptop.jpg' %}" alt="Slide 2" />
        </a>

        <div class="product-details">
          <p>ZedBook 2 in 1 Tablet - Intel Atom, 10.1", 32GB, 2GB RAM</p>

          <div class="price-wishlist-btn">
            <div class="price">
              <p>2000 Gh</p>
            </div>
            <div class="add-to-wishlist">
              <a href="">
                <i class="fa-regular fa-heart"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="add-to-cart-button">
          <button><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
        </div>
      </div> -->
    </div>


  </div>




</div>

{% endblock %}