{% extends 'store/base.html' %} {% load static %} {% block content %}



<header class="page-header">
    <li> <a href="  {% url 'contactUs' %}"> Terms and Condition</a>
    </li>
  
  </header>
  <div class="banner-container">
    <img src="{% static 'store/img/banner.jpg' %}" alt="Slide 2" />

</div>

  <div class="terms-and-condition">
    <div class="terms element">
        <h3>Returns & exchanges policy:
        </h3>
        <p>Thanks for shopping at Endless Essencials. We appreciate the fact that you like to buy the stuff we build. We also want to make sure you have a rewarding experience while you're exploring, evaluating, and purchasing our products. </p> <br>

          <p> As with any shopping experience, there are terms and conditions that apply to transactions at Endless Essencials. We'll be as brief as our attorneys will allow. The main thing to remember is that by placing an order or making a purchase at Endless Essencials, you agress to the terms set forth below along with Endless Essencials's Privacy Policy.</p> <br>

        <p> If there's something wrong with the product you bought, or if you are not happy with it, you have two weeks to issue a refund and return your item. <p><br>






       <p>1. The package needs to come back with the original receipt of the purchase.

       </p> <br>

       <p>2. The product has to be damage free, if we find any damage on the product we will cancel your refund immediately.

       </p>
    </div>
    <div class="terms element ">
        <h3>Refunds

        </h3>
        <p>We at Endless Essencials commit ourselves to serving our customers with the best products. Every single product that you choose is thoroughly inspected, checked for defects and packaged with utmost care. We do this to ensure that you fall in love with our products.</p> <br>

        <p> 
          Sadly, there are times when we may not have the product(s) that you choose in stock, or may face some issues with our inventory and quality check. In such cases, We may have to cancel your order. You will be intimated about it in advance so that you don't have to worry unnecessarity about your order. If you have purchased via Online payment (not Cash on Delivery), then you will be refunded once our team confirms your request.
        </p> <br>

        <p>
          We carry out thorough quality check before processing the ordered item. We take utmost care while packing the product. At the same time we ensure that the packing is such that the items won't get damaged during transit. Please not that Endless Essencials is not liable for damages that are caused to the items during transit or transportation.


        </p> <br>


        <p>We will revise your returned product as soon as we receive it and if it follows the guidelines addressed above, we will proceed to issue a refund of your purchase. Your refund may take 3-5 business days to process but you will be notified when you receive your money.

        </p>





    </div>
    <div class="terms element ">
        <h3>Shipping

        </h3>
        <p>Endless Essencials is not responsible for return shipping costs. Every shipping has to be paid by the customer, even if the item had free shipping in the first place, the customer has to pay for the shipping in return.



        </p>
    </div>
   
   
    <div class="terms element ">
        <h3>Your Consent

        </h3>
        <p>By using our platform, registering our account, or making a purchase, you hereby consent to our Return & Refund Policy and agree to its terms.



        </p>
    </div>
  </div>

 

 

{% endblock %}