{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .password-container {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .password-container2 {
        text-align: center;
        background-color: #fff;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .password-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #bf1b26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.password-button:hover {
    background-color: #bf1b26;
    color: white;
}
</style>
<br><br><br>
<div class="container">
    <div class="password-container">
        <div class="password-container2">
            <h4>Password reset complete</h4>

            <h5>Your password has been set. You may proceed to login</h5>

            <a class="password-button" href="{% url 'my-login' %}">Login</a>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}