{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .password-container {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .password-container2 {
        text-align: center;
        background-color: #fff;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
<br>
<div class="container pt-5 pb-5">
    <div class="password-container">
        <div class="password-container2">
            <h4>Your account is now verified.

            </h4>
        </div>
    </div>
</div>
<br>
{% endblock %}