{% extends 'store/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<style>
    .border-shadow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 10%;
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url( "{% static 'store/img/background.jpg' %}" );
 
   min-height: 70vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
@media (max-width:900px) {
    .border-shadow{
    margin: 0;
   }
}

</style>

<div class="checkout-form-containers border-shadow">
    <div class="head-1">
        <h3> Please click on pay now button <br> to make payment for chosen items
        </h3>
       
    </div>

   

    <div class="checkoutContainer">

        <div class="total-fee">
         

            {% for item in cart %}
            {% with product=item.product %}
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between ">
                    <div>
                        <h6 class="my-0">{{ product.title }}</h6>
                        <!-- <small class="text-muted">{{ product.description }}</small> -->
                    </div>
                    <span class="text-muted">GH¢{{ product.final_price|mul:item.qty }}</span>
                </li>
            </ul>
            {% endwith %}
            {% endfor %}

          <div class="inside">
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Subtotal</span>
                    <span class="text-muted">GH¢{{ cart.get_total }}</span>
                </li>
            </ul>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Shipping Fee</span>
                    <span class="text-muted">GH¢20.00</span>
                </li>
            </ul>

            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong>GH¢{{ cart.get_all_total }}</strong>
                </li>
            </ul>


          </div>

          

            
        </div>



        <div class="total-fees">
            <h1>GH¢{{ payment.amount }}</h1>
            <script src="https://js.paystack.co/v1/inline.js"></script>

            <button onclick="payWithPayStack()" id="django-paystack-button" type="submit">Pay
                Now</button>
        </div>


    </div>
</div>


</div>

<script>

    //var total_price = "{{cart.get_all_total}}"

    function payWithPayStack() {
        let currency = "GHS";
        let plan = "";
        let ref = "{{ payment.ref }}";
        let obj = {
            key: "{{ paystack_public_key }}",
            email: "{{ payment.email }}",
            amount: '{{ payment.amount_value }}',
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'verify-payment' payment.ref %}";
            },
        }



        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();


    }



</script>

{% endblock %}